body {
  font-family: Arial;
  padding: 20px;
  background: #fafafa;
}

.box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
}
